.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: green;
    color: white;
    padding: 12px;
}

.header-menu .title {
    font-size: 16px;
    font-weight: bold;
}

.header-menu .menu {
    font-size: 16px;
    display: flex;
    gap: 14px;
}

.header-menu .menu a {
    color: white;
    text-decoration: none;
}

.header-menu .menu .active {
    color: black;
}

.header-menu .button-auth button {
    background-color: red;
    color: white;
    border-radius: 16px;
    padding: 12px;
}

body {
    background-color: rgb(240, 240, 240);
}

.menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin-top: 14px;
}

.menu .card-menu {
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    border-radius: 14px;
    padding: 12px;
}

.body {
    background-color: rgb(240, 240, 240);
    margin: 0;
}

/* ===== CONTAINER ===== */
.container {
    padding: 20px;
}

.table {
    width: 70%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
}

.pengguna {
    text-align: center;
    color: rgb(0, 0, 0);
}

.Pendaftaran {
    text-align: center;
    color: rgb(0, 0, 0);
}

.rajal {
    text-align: center;
    color: rgb(0, 0, 0);
}

/* header */
.table th {
    background-color: #ff0000;
    color: white;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

/* isi */
.table td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ccc;
}

.form {
    border-collapse: collapse;
    margin: 20px auto;
    background-color: white;
}

.form td {
    padding: 8px;
}

/* label kiri */
.form td:first-child {
    width: 180px;
    font-weight: bold;
}

/* titik dua */
.form td:nth-child(2) {
    width: 10px;
}

/* input */
.form input,
.form select {
    width: 250px;
    padding: 5px;
}

/* tombol */
.form button {
    padding: 6px 15px;
    cursor: pointer;
}
